h1 {
  margin: 20px auto;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

#create-spot {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
}

#create-spot > h1 {
  margin-left: 0;
}

form,
label {
  display: flex;
  flex-direction: column;
}

label,
input,
textarea {
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.input-container > span {
  font-size: 25px;
  margin: 0 5px;
}

.location-input > input {
  width: 100%;
}

.location-input-city {
  width: 80%;
}

.location-input-state {
  width: 20%;
}

.location-input-coords {
  width: 50%;
}

form > * {
  margin: 5px 0;
}

hr {
  width: 100%;
  margin: 20px 0;
}

.err {
  justify-content: flex-start;
  font-size: 20px;
}

.submit-button {
  margin-top: 30px;
}

.bottom-of-page {
  margin-bottom: 300px;
}
