li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  border-bottom: 1px solid lightgray;
}

ul {
  padding: 20px;
  margin: 0px;
}

.hidden {
  visibility: hidden;
}

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  padding: 0px;
  background-color: white;
  box-shadow: 0px 0px 4px lightgray;
  border-radius: 15px;
  width: 200px;
  height: 100px;
  right: 80px;
  margin-top: 180px;
  padding: 15px;
}

.profile-dropdown button {
  color: gray;
  background-color: white;
  border: 0px;
}

.profile-dropdown > li {
  color: gray;
  margin: 2px 10px;
  padding: 0;
}

.profile-dropdown > li > button {
  margin: 10px 0;
  padding: 0;
}

.profile-dropdown > li > button:hover {
  color: black;
  cursor: pointer;
}

.logo img {
  height: 48px;
}

.profile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#manage-spots {
  margin-top: 10px;
}

.profile-menu > a {
  margin-right: 20px;
}

.profile-menu > button {
  border-radius: 30px;
  border: 1px solid gray;
  background-color: white;
  color: gray;
  width: 84px;
  height: 48px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-menu > button:hover {
  cursor: pointer;
  color: black;
  box-shadow: 0px 0px 4px lightgray;
}

button > i {
  font-size: 20px;
}

button {
  font-size: 16px;
}
