li {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 20px;
  margin: 0px;
}

.hidden {
  visibility: hidden;
}

.profile-dropdown {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.logo a {
  font-weight: bold;
  color: #ff5a60;
  text-decoration: none;
}

.logo img {
  width: 60px;
}
